.u-section-1 {
  background-image: url("images/pexels-arnesh-yadram-1046209.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 269px;
  margin: 219px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  background-image: none;
  font-family: Allura;
  font-size: 4.5rem;
  font-weight: normal;
  width: 486px;
  margin: 26px auto 0;
}

.u-section-1 .u-list-1 {
  min-height: 260px;
  grid-template-columns: calc(33.3333% - 17px) calc(33.3333% - 17px) calc(33.3333% - 17px);
  width: 1060px;
  grid-gap: 26px 26px;
  margin: 275px auto 50px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-group-1 {
  min-height: 177px;
  height: auto;
  margin: 12px auto 0 -9px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.375rem;
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  margin: 26px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: 14px auto 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-group-2 {
  min-height: 177px;
  background-size: auto;
  height: auto;
  margin: 12px auto 0 -9px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.375rem;
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  margin: 26px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: 14px auto 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-group-3 {
  min-height: 188px;
  background-size: auto;
  height: auto;
  margin: 12px auto 0 -9px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 14px 20px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.375rem;
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  margin: 26px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  width: 32px;
  margin: 14px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -437px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 682px;
  }

  .u-section-1 .u-list-1 {
    min-height: 214px;
    height: auto;
    margin-top: 87px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 237px;
  }

  .u-section-1 .u-list-1 {
    min-height: 492px;
    grid-template-columns: calc(((100% - 720px) / 2) + 347px) calc(((100% - 720px) / 2) + 347px);
    margin-top: 476px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    min-height: 173px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 120px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 124px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 257px) calc(((100% - 540px) / 2) + 257px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 202px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 202px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    min-height: 202px;
    margin-top: -63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 193px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 52px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-top: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -71px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}