.normal{
    font-style: normal !important;
    text-align: left !important;
}

.line{
  width: 101px;
  height: 8px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 20px auto 0;
  color: yellow;
}
.four{
    color: darkkhaki;
}

.box{
   padding: 30px; 
   position: relative;
   
}

.space{}


.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-1 .u-text-1 {
  width: 797px;
  margin: 60px auto 0;
}

.u-section-1 .u-line-1 {
  width: 101px;
  height: 8px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 20px auto 0;
  color: cadetblue;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 797px;
  margin: 20px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 655px;
  height: 733px;
  background-image: none;
  margin: 51px auto 0;
}

.u-section-1 .u-list-1 {
    min-height: 647px;
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  grid-gap: 31px 31px;
  height: auto;
  margin: -700px auto 60px 1px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 15 px;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 900;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0;
  
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 87px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-shape-1 {
    height: 595px;
    margin-top: 64px;
    color: cadetblue;
  }

  .u-section-1 .u-list-1 {
    min-height: 533px;
    grid-template-columns: calc(33.3333% - 21px) calc(33.3333% - 21px) calc(33.3333% - 21px);
    margin-top: -609px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-shape-1 {
    height: 1012px;
    margin-top: 53px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: calc(((100% - 720px) / 2) + 344px) calc(((100% - 720px) / 2) + 344px);
    margin-top: -942px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 383px;
    margin-top: 54px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 254px) calc(((100% - 540px) / 2) + 254px);
    margin-top: -951px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -884px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1800px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    color: cadetblue;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-top: -1114px;
    margin-bottom: 0;
    grid-gap: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    margin-bottom: -1955px;
  }
}