.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-1 .u-text-1 {
  width: 797px;
  margin: 60px auto 0;
}

.u-section-1 .u-line-1 {
  width: 101px;
  height: 8px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 797px;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 655px;
  height: 733px;
  background-image: none;
  margin: 51px auto 0;
}

.u-section-1 .u-list-1 {
  min-height: 627px;
  grid-template-columns: calc(33.3333% - 21px) calc(33.3333% - 21px) calc(33.3333% - 21px);
  grid-gap: 31px 31px;
  margin: -680px auto 60px 1px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 245px;
  height: 245px;
  margin: -9px 24px 0 auto;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 245px;
  height: 245px;
  margin: -9px 24px 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 245px;
  height: 245px;
  margin: -9px 24px 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 245px;
  height: 245px;
  margin: -9px 24px 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 245px;
  height: 245px;
  margin: -9px 24px 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 245px;
  height: 245px;
  margin: -9px 24px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-shape-1 {
    height: 595px;
  }

  .u-section-1 .u-list-1 {
    min-height: 623px;
    height: auto;
    margin-top: -609px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-2 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-3 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-4 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-5 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-6 {
    margin-right: -12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-shape-1 {
    height: 1012px;
    margin-top: 53px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1074px;
    grid-template-columns: calc(((100% - 720px) / 2) + 344px) calc(((100% - 720px) / 2) + 344px);
    margin-top: -942px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 383px;
    margin-top: 54px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 254px) calc(((100% - 540px) / 2) + 254px);
    margin-top: -951px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1800px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    min-height: 1379px;
    grid-template-columns: 100%;
    margin-top: -1114px;
    margin-bottom: 0;
    grid-gap: 31px;
    margin-right: initial;
    margin-left: initial;
  }
}